@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
:root {
  --poppins: 'Poppins', sans-serif;
  --opensans: 'Open Sans', sans-serif;
  --pink: hsl(322, 100%, 66%);
  --very-pale-cyan: hsl(193, 100%, 96%);
  --very-pale-blue: hsl(207, 100%, 98%);
  --very-dark-cyan: hsl(192, 100%, 9%);
  --grayish-blue: hsl(208, 11%, 55%);
  --light-pink: hsl(321, 100%, 78%);
  --red: rgb(252, 38, 38);
}